[Desktop Entry]
Type=Application
Version=1.0
GenericName=screenlocker
Name=xautolock
Comment=
Exec=xautolock -detectsleep -time 1 -locker "/home/michael/MEGA/bin/i3lockscreen off" -nowlocker "/home/michael/MEGA/bin/i3lockscreen"
Icon=xautolock
Terminal=false
Categories=System;
StartupNotify=false
