/* Reset CSS */
html,body,div,span,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,
a,cite,em,img,small,strong,sub,sup,u,i,
dl,dt,dd,ol,ul,li,form,label,
table,tr,th,td,article,footer,header,nav,section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
#add-to-list, #show-options, #welcome-popup, #taskCount, #finished-list-popup, #s, #pay-for-prod {
	display:none;
}

/* Basics */
:root{
    font-family:"Equity";
    font-size:18px;
    color:#333;
     line-height:1.45;
    hyphens:auto;

    /* Font Smoothing */
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;

    padding:0;
    margin:0;

}
/* Text */
/* Type Scale | 1:1.25 | 0.512 – 0.64 — 0.8 — 1 — 1.25 — 1.563 — 1.953 — 2.441 */
small {
    font-size:0.8rem;
    font-family:"Equity";
}

h2 {
    font-family:"Equity";
    font-style:normal;
    font-size:1.953rem;
       color:#444;
}

h3 {
    font-family:"Equity Caps";
    font-style:normal;
    font-size:1.563rem;
}

h4 {
    font-family:"Equity Caps";
    font-style:normal;
    font-size:1.25rem;
}

p{
    font-family:"Equity";
    margin-top:0;
    margin-bottom:1rem;
}

/* popup specific */
.container {
  width:20rem;
	padding:2rem;
}

.center-text {
    text-align: center;
}

/* Input */

input {
    font-size:1rem;
    padding:0.3rem 0;
    box-sizing: border-box;
    border:none;
    transition: 300ms;
		font-family:"Equity";
}

input:focus, textarea:focus {
    outline:none;
}

form {
	margin-bottom:3rem;
}

::-webkit-input-placeholder {
  color:#667;
}

.add-items {
  display:flex;
  width:100%;
  border-bottom:solid 1px #ddd;
  margin-bottom:0.5rem;
}

.add-items > input {
  flex:1;
}

.add-input {
  padding-left:1rem;
  color:#333;
	background-color:transparent;
}

.add {
  font-size:1.2rem;
  -webkit-appearance:none;
  background:transparent;
  border:none;
  margin-bottom:-0.3rem;
  color:#667;
  padding-right:1rem;
  outline:none;
}

/* Count */
#finished-list-popup, #taskCount{
color:#999;
padding-left:1rem;
}

.continue-container {
  text-align: center;
	margin-top:2rem;

}

.continue {
  font-family:'Equity Caps';
  background-image: linear-gradient(45deg, #ff7a7a 25%, #ff8989 25%, #ff8989 50%, #ff7a7a 50%, #ff7a7a 75%, #ff8989 75%, #ff8989 100%);
  background-size: 14.14px 14.14px;
  padding:0.5rem 3rem;
  border-radius:0.4rem;
  color:#fff;
  cursor:pointer;
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0,0,0, .15), inset 0 0.25rem 0.75rem rgba(0,0,0, 0);
  -moz-box-shadow: 0 0.25rem 0.75rem rgba(0,0,0, .15), inset 0 0.25rem 0.75rem rgba(0,0,0, 0);
  box-shadow: 0 0.25rem 0.75rem rgba(0,0,0, .15), inset 0 0.25rem 0.75rem rgba(0,0,0, 0);
	text-decoration:none;
}

.continue:hover {

-webkit-animation: barberpole 20s infinite linear;
  animation: barberpole 20s infinite linear;
  transition: border-bottom 100ms, bottom 100ms;
  bottom:-2px;
}

.continue.new-tab {

color:#333;
background-image: linear-gradient(45deg, #F4F4F4 25%, #eeeeee 25%, #eeeeee 50%, #F4F4F4 50%, #F4F4F4 75%, #eeeeee 75%, #eeeeee 100%);
background-size: 14.14px 14.14px;
text-decoration:none;

}

.continue-container.options-container {
	margin-top:-1rem;
}

.continue {

color:#333;
background-image: linear-gradient(45deg, #F4F4F4 25%, #eeeeee 25%, #eeeeee 50%, #F4F4F4 50%, #F4F4F4 75%, #eeeeee 75%, #eeeeee 100%);
background-size: 14.14px 14.14px;
text-decoration:none;
margin-top:0 !important;

}


/* Pay for prod */
#pay-for-prod h4{
	margin-bottom:1rem;
}



@-webkit-keyframes barberpole {
		from {background-position: 0%;}
		to {background-position: 100%;}
}

.retro-shadow {
        text-shadow:
      1px 1px 0px #fff,
      2px 2px 0px rgba(0, 0, 0, 0.2);
}

.h-lines {
    background:inherit;
    overflow: hidden;
}

.h-lines:before, .h-lines:after {
    background-color: #333;
     content: "";
     display: inline-block;
     height: 1px;
     position: relative;
     vertical-align: middle;
     width: 50%;
}

.h-lines:before {
 right: 0.5em;
 margin-left: -50%;
}
.h-lines:after {
 left: 0.5em;
 margin-right: -50%;
}
