[Unit]
Description=Execute backup every day twice per hour

[Timer]
OnCalendar=*-*-* *:25/30
#Persistent=true
Unit=rclone.service

[Install]
WantedBy=timers.target
