[Unit]
Description=Execute backup every day every hour

[Timer]
OnCalendar=*-*-* *:05:00
Persistent=true
Unit=shtf.service

[Install]
WantedBy=timers.target
